#map 
{
	//min-height: 500px;
	width: 100%;
	height:100%;
}

#distanceMark{
	margin-left:15px;
}
#timeMark{
	margin-left:15px;
}
.polyColor {
  //float: left;
  width: 20px;
  height: 15px;
  //margin: 0px;
  //padding-left: 15%;
  border: 1px solid rgba(0, 0, 0, .2);
}

.less20 {
  background: #40C144;
}

.less40 {
  background: #E4EA19;
}

.less100 {
  background: #FFA500;
}

.greater100 {
  background: #FF0000;
}