
body {
  font-family: 'Titillium Web', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0
}

#page_index #searchjobs_wrap {
  display: none;
}

#page_search #jobs {
  display: none;
}

/* SVG */
.node.level5 {
	cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: #007bff;
  stroke-width: 3px;
}

.node.highlight circle {
  fill: #007bff;
}

.node text {
  font: 10px sans-serif;
  text-shadow: 0 0 2px #fff;
  text-transform: lowercase;
}

.node:hover text {
  fill: #007bff;
}

.node.level5:hover circle {
  fill: #007bff;
}

/* PATCH AFTER UX REVIEW */
.node rect {
  opacity:0.6;
  fill: none;
}
.node.highlight rect {
  fill: #007bff;
}

.node.highlight text {
  fill: black;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.link.highlight {
  stroke: #007bff;
  stroke-width: 6px;
}
/*
#tree_selection .title {
  font-weight: bold;
}*/
#tree_selection .desc {
  font-size: 1rem;
}
#skills span {
    display: inline-block;
    margin-right: 10px;
}
#tree_wrapper {
  width: auto;
  overflow-y: hidden;
  overflow-x: auto;
}
#tree {
  height: 500px;
  width: 1300px;
  position: relative;
}

#tree_loader {
  color: #36474F;
}
#tree_loader:before {
  font-size: 30px;
  line-height: 0px;
  color:#ffc200;
  content: "◄";
}

#radar {
  width:100%;
  height:300px;
}

.tooltip .title {
  font-size: 18px;
}

.tooltip { 
    position: absolute;
    right: 0;
    bottom: 0;  
    margin: 16px;
    /*position: fixed; */
    text-align: justify;    
    width: 36%;          
    height: auto;         
    padding: 8px;
    font-size: 12px;
    background: #fff;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
    border: 2px solid #007bff;
    border-radius: 3px;
    pointer-events: none;     
}
.tooltip .isfol {
  display: none;
}

.isfol {
  color: #ffc200;
  cursor: pointer;
}

.skill {
  background: #eee;
  margin: 3px 0;
  padding: 3px;

}

#searchjobs_wrap {
  position: relative;
}
#searchlist {
  /*position: absolute;
  z-index: 2000;*/
  max-height: 800px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-group {
  background-color: #e6e6e6;
}
.list-group-item:first-child {
  border-radius: 0;
}
.list-group-item {
  background-color: #e6e6e6;
  cursor: pointer;
  border:none;
  white-space: nowrap;
  padding: 4px;
  color: #000
}
.list-group-item.active {
  background-color: #ffc200;
  border:none;
  color: #000;
}

#selectjobs {
  width: 100%;
  height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
}


/* CEDUS STYLES */
#version {
  color:#ccc;
  padding: 4px;
  font-style: italic;
  text-align: right;
  height: 16px;
}

.fixed-table-container {
  border:none;
}
.table th {
  border-top: none
}
.bootstrap-table .table {
  border-bottom: none;
}
.table .isfol {
  color: #ffc200;
}
.pagination-detail {
  display: none;
}
.page-link {
  border:none;
}
.page-item.page-pre a,
.page-item.page-next a{
  font-size: 36px;
  display: inline-block;
  line-height: 20px;
  color: #ffc200
}
.page-item.active .page-link {
  background-color: #ffc200;
}
.badge {
  font-size: 16px;
  margin-bottom: 6px;
  border-radius: 0;
  font-weight: normal;
}
.isfol,
.orange-text {
  color: #ffc200 !important;
}
.orange-bg {
  color: #000;
  background: #ffc200
}
.blue-bg {
  color: #fff;
  background: #36474F
}
.grey-bg {
  color: #000;
  background: #e6e6e6;
}

.navbar {
  border-bottom: 10px solid #36474F;
  padding-bottom: 0;
  /*margin-bottom: 10px;*/
  margin-top: 80px;
}

.navbar-nav {
  margin-bottom: -10px
}

li.nav-item {
  padding: 0 10px;
}
li.nav-item.logout {
  border-left: 3px solid #36474F;
}
.nav-link {
  color: #36474F;
  font-size: 20px;
}

.nav-link.active {
  border-bottom: 10px solid #ffc200;
}
.navbar-brand {
  position: relative;
  width: 250px;
  height: 50px;
  display: inline-block;
}
.navbar-brand img {
  top: -80px;
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
}
.fixed-table-body {
    height: auto;
    /*max-height: 200px*/
}