
body {
  font-family: 'Titillium Web', sans-serif;
}

.map {
	width: 100%;
	height: 400px;
}

#charts .row {
	margin-bottom: 22px
}
#poi_legend .badge {
	text-shadow: 0 0 1px #000;
	box-shadow: 0 0 1px #000;
	border-radius: 2px;
	min-width: 20px;
}
.leaflet-control-layers-scrollbar {
    overflow-y: auto;
}
.leaflet-control-layers-toggle {
    background-image: none;
}
.breadcrumb-item + .breadcrumb-item::before,
.breadcrumb > li:before {
    content: "►";
    color:#fff;
    padding-right: 0;
}

.breadcrumb > li:first-child:before {
	content:none;
}

.leaflet-container a {
    color: #000
}

.leaflet-tooltip {
	font-size: 14px;
/*	font-weight: bold*/
}

.leaflet-popup-content {
	margin:3px 9px;
}

.geojson-list.leaflet-control {
	min-width: 300px;
  background-color: #e6e6e6
}
.geojson-list-item.active,
.geojson-list-item.selected {
  background-color: #ffc200;
  color: #000
}
.geojson-list-item {
	background: #e6e6e6;
  padding: 5px;
  border:none;
  font-size: 16px;
  color: #000;
}
.geojson-list-item input {
  visibility: hidden;
  width: 1px
}
.geojson-list-item > label {
	margin: 0;
	padding-bottom: 2px;
}

.leaflet-control-gps.leaflet-control a {
	margin: 4px;
	background-color: #fff;
}
.leaflet-control-gps .gps-button {
	background-image: url(https://unpkg.com/leaflet-gps@1.7.3/images/gps-icon.svg);
}
.leaflet-retina .leaflet-draw-toolbar a {
    background-image: url(https://unpkg.com/leaflet-draw@1.0.2/dist/images/spritesheet-2x.png);
    background-image: linear-gradient(transparent,transparent),url(https://unpkg.com/leaflet-draw@1.0.2/dist/images/spritesheet.svg);
}

#card_details {
  font-size: 18px;
  line-height: 36px
}
#card_details i {
  margin-right: 10px
}

tr:hover {
	cursor: pointer
}

.leaflet-control-gps .gps-button {
	width: 25px;
	height: 25px;
}

h2 b {
	vertical-align: middle;
	font-size: 16px;
}

#tabs_maps {
  margin-bottom: 10px;
  padding-left: 16px;
}
#tabs_maps .nav-link {
  border-radius: 0;
  border:none;
  color: #fff;
  font-size: 18px;
  background:none;
  padding: 16px 6px;
}
#tabs_maps .nav-link:hover,
#tabs_maps .nav-link.active { 
  background: #ffc200;
  border:none;
}

.tab-content {
  padding: 10px;
}

.breadcrumb {
  margin:0;
  margin-top: -10px
}
.breadcrumb-item a,
.breadcrumb-item span {
  font-size: 20px;
  line-height: 20px;
  color: #fff
}
.breadcrumb-item:last-child {
  font-weight: bold;
}

/* CEDUS STYLES */
#version {
  color:#ccc;
  padding: 4px;
  font-style: italic;
  text-align: right;
  height: 16px;
}

.fixed-table-container {
  border:none;
}
.table th {
  border-top: none
}
.bootstrap-table .table {
  border-bottom: none;
}
.table .isfol {
  color: #ffc200;
}
.pagination-detail {
  display: none;
}
.page-link {
  border:none;
}
.page-item.page-pre a,
.page-item.page-next a{
  font-size: 36px;
  display: inline-block;
  line-height: 20px;
  color: #ffc200
}
.page-item.active .page-link {
  background-color: #ffc200;
}
.badge {
  font-size: 16px;
  margin-bottom: 6px;
  border-radius: 0;
  font-weight: normal;
}
.isfol,
.orange-text {
  color: #ffc200 !important;
}
.orange-bg {
  color: #000;
  background: #ffc200
}
.blue-bg {
  color: #fff;
  background: #36474F
}
.grey-bg {
  color: #000;
  background: #e6e6e6;
}

.navbar {
  border-bottom: 10px solid #36474F;
  padding-bottom: 0;
  /*margin-bottom: 10px;*/
  margin-top: 80px;
}

.navbar-nav {
  margin-bottom: -10px
}

li.nav-item {
  padding: 0 10px;
}
li.nav-item.logout {
  border-left: 3px solid #36474F;
}
.nav-link {
  color: #36474F;
  font-size: 20px;
}

.nav-link.active {
  border-bottom: 10px solid #ffc200;
}
.navbar-brand {
  position: relative;
  width: 250px;
  height: 50px;
  display: inline-block;
}
.navbar-brand img {
  top: -80px;
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
}
